*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#111;
    color:white;
}

header{
    text-align:center;
    padding:40px;
}

#gallery{

    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:20px;

    padding:30px;

}

.thumb{

    width:100%;
    aspect-ratio:16/9;

    object-fit:cover;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;
}

.thumb:hover{

    transform:scale(1.05);

}

#lightbox{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.92);

    display:none;

    justify-content:center;

    align-items:center;

    z-index:999;
}

#lightbox img{

    max-width:92%;
    max-height:90%;

    border-radius:8px;
}

#close{

    position:absolute;

    right:30px;
    top:20px;

    font-size:45px;

    background:none;

    color:white;

    border:none;

    cursor:pointer;
}

.nav{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    font-size:60px;

    background:none;

    border:none;

    color:white;

    cursor:pointer;

    padding:20px;
}

.prev{
    left:15px;
}

.next{
    right:15px;
}

#counter{

    position:absolute;

    bottom:30px;

    font-size:20px;
}